
:root {
  --dark-shade0: #292c33;

  --dark-shade1: #1e2126;

  --dark-shade2: #1e2126;

  --dark-shade3: #0ba56a;

  --dark-shade4: #c3c3c3;

  --dark-shade5: #c3c3c3;

  --dark-shade6: #ebdbb2;

  --dark-shade7: #c3c3c3;

  --dark-accent0: #cc241d;

  --dark-accent1: #c3c3c3;

  --dark-accent2: #d79921;

  --dark-accent3: #71981a;

  --dark-accent4: #689d6a;

  --dark-accent5: #458588;

  --dark-accent6: #15d186;

  --dark-accent7: #b86393;
}